<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/displayPlaylistStyle.css}">
</head>
<body>
	<h1>Playlists Page</h1>
	<table border>
		<thead>
			<tr>
				<th>Playlist Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${allPlaylists}">
    <td th:text="${playlist.name}"></td>
    <td>
        <ul>
            <li th:each="song: ${playlist.songs}">
                <span th:text="${song.name}"></span>
                <audio controls>
                    <source th:src="${song.link}" type="audio/mpeg">
                </audio>
            </li>
        </ul>
    </td>
</tr>
		</tbody>
	</table>
</body>
</html>